.post {
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
  }
  .post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .post__text {
      font-size: 14px;
    font-weight: normal;
    padding: 15px 0;
  }
  .date__text {
      font-size: 12px;
    font-weight: normal;
    padding: 15px 0;
  }
  .post__header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
  }
  .post__header h1 {
      font-size: 16px;
  }
  .post__avatar {
    margin-right: 10px;
  }
  .post__body {
    padding: 15px 20px;
  }
  .post__description {
    font-weight: normal;
    padding: 15px 0;
  }
.post__heart {
    width: 2rem;
}